<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834680909668-mu8ksqqhbl3lse9nc5b19rafqoeat9tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834680909668-mu8ksqqhbl3lse9nc5b19rafqoeat9tv</string>
	<key>API_KEY</key>
	<string>AIzaSyCFUtU7ytsMa1UnE6MvS1P6PaSZvstm0tE</string>
	<key>GCM_SENDER_ID</key>
	<string>834680909668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..InstgramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-7b0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-7b0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834680909668:ios:5f87e66a64f69a756fd471</string>
</dict>
</plist>